<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ispl.ekalarogya.training">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
<!--    <uses-permission android:name="BLAH" />-->
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> -->
    <permission
        android:name="com.ispl.ekalarogya.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.ispl.ekalarogya.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" /> <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.ispl.ekalarogya.training.app_base.ArogyaApplication"
        android:allowBackup="true"
        android:defaultToDeviceProtectedStorage="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ekal_arogya"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ekal_arogya"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        android:requestRawExternalStorageAccess="true"

        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.ispl.ekalarogya.training.main.GKVReport"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.herbalremedies.medprep.VanAushadhiAddMember"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashboardFragments.TaskDetails"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashboardFragments.TaskActivity"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.eye.eyescreening.EyeScreeningUpdate"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".ScrollingActivity" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_scrolling" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.eye.eyevan.EyeVanAdd"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.support_ticket.SupportTicketActivity"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.support_ticket.SupportTicketDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.support_ticket.AddSupportTicketActivity"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.herbalremedies.medicinegarden.MedicineGardenFamily"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.inspectionday.InspectionDayAdd"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.jagaranprogram.JagaranProgramAdd"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.arogyacamp.ArogyaCampAdd"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.villagevisit.VillageVisitAdd"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.posterdisplay.PosterDisplayAdd"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.eye.eyescreening.EyeScreeningAdd"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.eye.eyescreening.EyeScreening"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.eye.eyevan.EyeVan"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.samitimeeting.SamitiMeetingAdd"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.firstaid.FirstAidFamily"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.firstaid.FirstAidAdd"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.herbalremedies.medprep.VanAushadhiAdd"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.herbalremedies.medicinegarden.AddMedicineGarden"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.herbalremedies.medicinegarden.MedicineGarden"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.herbalremedies.medicinegarden.SingleFamilyGarden"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.herbalremedies.medprep.VanAushadhi"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.herbalremedies.ayurvedic.AyurvedicAdd"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.herbalremedies.ayurvedic.HerbalRemediesList"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.malnutrition.malnutrion.MalnutrionCheckupAdd"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.malnutrition.malnutrion.MalnutritionFamily"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.malnutrition.animea.AnemiaFamily"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.malnutrition.animea.AnemiaCheckupAdd"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.deseaseprevention.AddDiseaseVillage"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.malnutrition.animea.AnemiaCheckup"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.malnutrition.malnutrion.MalnutritionCheckup"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.preventives.socialSanitisation.SocialSanitisationFamily"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.preventives.socialSanitisation.SocialSanitiasationCheck"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.preventives.hygiene.PersonalHygineFamily"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.preventives.hygiene.PersonalHygineCheckup"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.family.AddFamily"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.family.AddFamilyMember"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.herbalremedies.HerbalRemedies"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.firstaid.FirstAid"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.eye.EyeCheckup"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.samitimeeting.SamitiMeeting"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.posterdisplay.PosterDisplay"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.villagevisit.VillageVisit"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.arogyacamp.ArogyaCamp"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.jagaranprogram.JagranProgram"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.inspectionday.InspectionDay"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.malnutrition.Malnutrition"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.preventives.Preventive"
            android:exported="false" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.family.VillageFamily"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.ispl.ekalarogya.training.main.SplashActivity"
            
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ispl.ekalarogya.training.language_change.LanguageChooserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ispl.ekalarogya.training.user_auth.LoginActivity"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ispl.ekalarogya.training.user_auth.OTPActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.MainActivity"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.preventives.hygiene.PersonalHygine"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.preventives.familyvisit.FamilyVisitList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.preventives.familyvisit.FamilyVisitAdd"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.preventives.socialSanitisation.SocialSanitisation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ispl.ekalarogya.training.main.dashotheractivity.deseaseprevention.DiseasePrevention"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- <activity android:name=".main.dashotheractivity.preventives.SocialSanitisation" -->
        <!-- android:exported="false" -->
        <!-- android:screenOrientation="portrait"/> -->
        <!-- <activity -->
        <!-- android:name=".main.AddressActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="stateHidden" /> -->
        <!-- <activity -->
        <!-- android:name=".main.FeedbackActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="stateHidden" /> -->
        <service
            android:name="com.ispl.ekalarogya.training.services.MyIntentService"
            android:exported="false" />
        <service
            android:name="com.ispl.ekalarogya.training.fcm.FirebaseMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.ispl.ekalarogya.training.services.BgServ"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ispl.ekalarogya.training.file_provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:syncable="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>


<!--        <provider-->
<!--            android:name="androidx.core.content.FileProvider"-->
<!--            android:authorities="com.ispl.salaryslipEmployee.fileprovider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true"-->
<!--            tools:replace="android:authorities">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/provider_paths"-->
<!--                tools:replace="android:resource" />-->
<!--        </provider>-->

    </application>


















</manifest>